:root {
  --main-color: #0000CD;
  --white: #fff;
  --red: red;
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.navbar-brand{
  display: flex;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  color: var(--white);
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.navbar-nav {
  display: flex;
  flex-direction: row; 
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}



/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  z-index: 11;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  font-size: 16px;
  color: var(--white);
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
  color:var(--white);
  text-decoration: none;
}

h6 {
  margin-bottom: 0;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
/* .menu-secondary-exit {

} */
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.app__text_color{
  color: #000 !important;
}
.cart {
  color: #000;
}
html,
body {
  font-family: 'Amazon Ember';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar-brand img{
  /* width: 100px;
  height: 50px;
  object-fit: contain; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

nav {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 6px 5px -6px rgb(0 0 0 / 61%);
  margin-bottom: 10px;
}

.logo{
  color: var(--main-color);
  font-style: italic;
}
.location_icon{
  color: var(--main-color);
}
.cart_link{
  text-decoration: none !important;
}
.cart_length_round{
  border-radius: 50px;
}

.headerNav__optionLineOne{
  font-size: 10px;
}
.headerNav__optionLineTwo{
  font-size: 12px;
}
.header__delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.logo_location{
  display: flex;
  align-items: center;
}
.location_icon {
  background: #f8f8f8;
  border-radius: 50px;
  margin-right: 6px;
  padding: 3px;
}

#search_btn {
  background-color: var(--main-color);
  padding: 5px 22px;
  color: var(--white)
}

.input-group {
  width: 90%;
  margin: 0 auto;
}

#search_field {
  height: 2.4rem;
  padding: 10px;
}

.dark__mood {
  margin-left: 22px;
}

/* switch btn  */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 21px;
  margin-left: 120px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.profile__zone{
  white-space: nowrap;
  background: #e6e6e6;
  border-radius: 50px;
  padding: 3px 4px;
  width: auto;
  margin-left: 5px;
}
.dropdown-menu {
  right: 0;
}


#login_btn,
#view_btn {
  background-color: var(--main-color);
  padding: 0.4rem 1.8rem;
  font-family: calibri;
  color: var(--white);
  border-radius: 50px;
}


/* #cart {
  font-size: 1rem;
  color: white;
} */

#cart_count {
  background-color: var(--red);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: var(--white);
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 50px;
  margin-left: -8px;
}

/* Scroll Bar -------------------- */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}



/* Home page ---------------------------- */
#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: var(--main-color);
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: var(--main-color);
  color: white;
}

.card-img-top {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.ratings {
  font-size: 1.2rem;
  color: var(--main-color);
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}


/* category  */

.category_name{
  padding-left: 10px;
}
.category_name li{
  cursor: pointer;
  list-style: none;
  transition: 0.5s;
}

.category_name li:hover{
  color: var(--main-color);
  padding-left: 5px;
  display: block;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: var(--main-color);
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: var(--main-color);
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: var(--main-color);
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 9rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 40px;
  height: 40px;
  padding-left: 0;
}
.loader:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  border-color: var(--main-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}
.empty-cart-img {
  width: 300px;
  margin-top: 18px;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: var(--main-color);
  border-color: var(--main-color);
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
  border-radius: 10px;
  
}

.wrapper form .btn {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar----------------------- */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user_location {
  background: #e6e6e6;
  border-radius: 50px;
  padding: 3px 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile---------------------- */

.avatar-nav {
  margin-right: 0.6rem;
  height: 30px;
  width: 30px;
}

/* Checkout Steps---------------------------- */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: var(--main-color);
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid var(--main-color);
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid var(--main-color);
  border-left: 15px solid #fff;
  border-bottom: 20px solid var(--main-color);
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* Confirm Order ------------------------------*/

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */
.page-item.active .page-link {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.page-link {
  color: var(--main-color);
}

.page-link:hover {
  color: var(--main-color);
}

/* Admin Sidebar ----------------------*/

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #232f3e;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

/* Slider customization ==========================> 06/10/2021 */
a.carousel-control-prev {
  color: var(--main-color);
  background: var(--main-color);
}
a.carousel-control-next {
  color: var(--main-color);
  background: var(--main-color);
}
#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #232f3e;
}
a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color:var(--main-color);
}
.dropdown-toggle::before {
  position: absolute;
  background: cyan;
  
  top: 50%;
  right: 20px;
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin------------------- */

#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard---------------------- */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews--------------------- */
.rating {
  list-style-type: none;
  padding-left: 10px;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: var(--main-color);
}

.yellow {
  color: var(--main-color);
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}



/* Footer ---------------------------------- */
footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

footer > div,  h4 {
  color: white;
  margin-bottom: 12px;
}

.ft-link-control >  a {
  display: block;
  color: white;
  margin-bottom: 12px;
}

address > div{
  display: flex;
  color: white;
  margin-bottom: 12px;
}
address > div > span {
  margin-right: 12px;
}

@media (max-width: 570px){
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1 !important;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2 !important;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .order-sm-3 {
    -ms-flex-order: 3 !important;
    order: 3;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

